@model Domain.Helpers.Response

<div class="col-md-12" style="display:none" id="loading">
    <h6>Espere un momento...</h6>
    <div class="progress">
        <div class="indeterminate"></div>
    </div>
</div>

<div id="div-alert" class="col-12">
    <div class="text-center alert alert-@Model.Color"><i class="fa @Model.Icon">&nbsp;</i>@Html.Raw(Model.Message)</div>
</div>

<a id="btn-return" class="btn btn-outline-primary" href="@Url.Action("VerConceptos", "Procesos", new { procesoId = ViewBag.ProcesoId })">
    <i class="fa fa-arrow-left">&nbsp;</i> Volver a la lista
</a>

<button type="button" class="btn btn-secondary  pull-right" data-dismiss="modal" id="btn_cerrar"><i class="fa fa-sign-out">&nbsp;</i>Finalizar</button>

<script>
    $(".modal").on('hide.bs.modal', function () {
        location.reload();
    })
</script>