@model Domain.DTO.Response

<div class="col-md-12" style="display:none" id="loading">
    <h6>Espere un momento...</h6>
    <div class="progress">
        <div class="indeterminate"></div>
    </div>
</div>

<div id="div-alert">
    <div class="text-center alert alert-@Model.color"><i class="fa @Model.icon">&nbsp;</i>@Html.Raw(Model.message)</div>
</div>

<button type="submit" class="btn btn-default btn-primary" style="@Model.CurrentID"><i class="fa fa-save"></i>&nbsp;Guardar</button>
<button type="button" class="btn btn-default  pull-right" data-dismiss="modal" id="btn_cerrar"><i class="fa fa-sign-out">&nbsp;</i>Finalizar</button>

