@model BLL_LIB.Helpers.ResponseViewModel

<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="row text-center alert alert-@Model.color"><i class="fa @Model.icon">&nbsp;</i>@Html.Raw(Model.message)</div>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times-circle-o">&nbsp;</i>Cerrar</button>
</div>

<script>
    $(".modal").on('hide.bs.modal', function () {
        location.reload();
    })
</script>
