
<div class="container-fluid">
    <div class="col-12">
        <section class="content-header">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb float-right small d-none d-sm-inline-flex">
                    <li class="breadcrumb-item active"><span><i class="fa fa-home">&nbsp;</i>Inicio</span></li>
                </ol>
            </nav>
            <h1 class="">Dashboard <small></small></h1>
        </section>
    </div>
    <br />

    <div class="col-12">

    </div>
</div>