
<div class="table-responsive">
    <table class="table table-bordered table-hover table-sm">
        <thead class="thead-light">
            <tr>
                <th>Obs</th>
                <th>Nro</th>
                <th>Codigo</th>
                <th>Apellidos y nombres</th>
                <th>Cuota</th>
                <th>Concepto</th>
                <th>Importe</th>
                <th>Total</th>
                <th>Fec. Venc.</th>
                <th>Agencia</th>
                <th>Fec. Pago</th>
                <th>Cod RC</th>
                <th>Periodo</th>
                <th>Operación</th>
                <th>Cod. Cajero</th>
                <th>Impreso</th>
                <th>Registrado</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="17"> No se ha cargado informacion de pagos</td>
            </tr>
        </tbody>
    </table>
</div>
